<h1>New Article</h1>

<%= render "form", article: @article %> 

<p><%= link_to "Articles Menu", root_path %></p>


<!-- 
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <%= "Não Deixe o título em branco" %>
    <% end %>
  </div>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>  
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>

-->
